{
  "name": "{{ agave.appsPrefix }}-samtools-faidx-gf2",
  "version": "0.4",
  "label": "samtools generate reference file in .fai format",
  "defaultNodeCount": 1,
  "defaultMemoryPerNode": 1,
  "defaultProcessorsPerNode": 1,
  "executionType": "HPC",
  "parallelism": "SERIAL",
  "checkpointable": false,
  "executionSystem": "{{ agave.executionSystem }}",
  "deploymentPath": "{{ agave.appsDir }}/samtools-faidx-gf2-0.4",
  "deploymentSystem": "{{ agave.deploymentSystem }}",
  "templatePath": "samtools-faidx-gf2.sh",
  "testPath": "test/test.sh",
  "inputs": [
    { "id": "input",
      "value": {
        "required": false,
        "default": "input.fasta"
      }
    }
  ],
  "parameters": [
    { "id": "output",
      "value": {
        "required": false,
        "default": "output.fai",
        "type": "string"
      }
    },
    { "id": "exec_method",
      "value": {
        "required": true,
        "default": "auto",
        "type": "string"
      }
    },
    { "id": "exec_init",
      "value": {
        "required": true,
        "default": "",
        "type": "string"
      }
    }
  ]
}